/*  
    Project : template
    Author : Nguyen Quang Duc
    Date : 23/04/2019
    version : Sublime Text3
 */
*{
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
}

/* section 2*/
.section_header{
    margin-bottom: 40px;
}
   
.section_header .section_title{
    color: #333;
    font-size: 2.625rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: sans-serif;

}
.section_header .section_title:after{
    content: '';
    width: 80px;
    height: 1px;
    background: #61d2b4;
    display: block;
    margin: 0.5375em auto;
}

.section_header .section_subtitle{
    margin-top: 15px;
    color: #333;
    font-size: 0.875rem;
    font-weight: 400;
}

.pricing_table {
    padding: 0 0 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: center;
    background-color: #fff;
    transition: .4s;
    border: 1px solid #f1f1f1;
    border-top: none;
}

.pricing_table:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,.1);

}

.pricing_table .deltais_pricing h2{
    font-size: 1.625rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: #f1f1f1;
    padding: 30px 0;
}

.pricing_table .deltais_pricing h3{
    display: inline-block;
    font-size: 3rem;
    font-weight: 400;
    color: #61d2b4;
    margin-bottom: 20px;
}

.pricing_table .deltais_pricing ul{
    margin-bottom: 35px;
}

.pricing_table .deltais_pricing ul li{
    padding: 10px;
    font-size: 0.9375rem;
    border-bottom: 1px dotted #f1f1f1;
    list-style: none;
}

.pricing_table .btn_pricing{
    display: inline;
    border-radius: 20px;
    border: 1px solid #61d2b4;
    padding: 11px 40px;
    background: #61d2b4;
    cursor: pointer;
    transition: .5s;

}

.pricing_table .btn_pricing:hover{
    background: #33b391;
    border-color: #33b391;
}


.pricing_table .btn_pricing a{
    color: #fff;
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
}


/*Khoi 3 */

.our_team {
    margin-bottom: 30px;
}

.our_team img{
    width: 100%;
    background-size: cover;
    padding: 0;
}

.our_team_details {
    border-radius: 0;
    background: #f1f1f1;
    padding: 15px;
    transition: .5s;
}

.our_team_details h4{
    margin-bottom: 5px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #333;
}

.our_team_details p{
    color: #333;
}

.our_team_details ul{
    margin: 0;
    padding: 0;
}

.our_team_details ul.list_items li{
    display: inline-block;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    transition: .5s;
}

.our_team_details .list_items li.facebook:hover{
    background: #4867aa;
}

.our_team_details .list_items li.twitter:hover{
    background: #1da1f2;
}

.our_team_details .list_items li.google:hover{
    background: #dd4d42;
}

.our_team_details .list_items li.linkedin:hover{
    background: #007bb6;
}

.our_team_details .list_items li a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #61d2b4;
    font-size: 0.875rem;
    z-index: 2;
}

.our_team_details .list_items li:hover a{
    color: #fff;
}

@media (max-width : 768px){
    .section_header .section_title{
        font-size: 1.25rem;
    }
}