.bg-transparent{
    background: none;
}
.form-control:focus{
    background: none;

}


.focus:focus{
    box-shadow: none;
    color: #fff;
    border-color: #61d2b4!important;
    background: 0 0;
    outline: none;
}
.border-fff{
    border-color: #fff;
}
.btn-common {
    border: 1px solid #61d2b4;
    background: #61d2b4;
    position: relative;
    color: #fff;
    z-index: 1;
    border-radius: 1.875rem;
}
#msgSubmit{
    font-size: 0.875rem;
    margin-top: 0.625rem;
}