.bg-transparent{
    background: none;
}
.form-control:focus{
    background: none;

}
form#contactForm .contact-form-item.msg-err-active:after{
    /* content: attr('data-error-message'); */
    content: attr(data-error-message);
    display: block;
    color: #d9534f;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    /* position: absolute; */

}
#msgSubmit{
    display: none;
}
.focus:focus{
    box-shadow: none;
    color: #fff;
    border-color: #61d2b4!important;
    background: 0 0;
    outline: none;
}
.border-fff{
    border-color: #fff;
}
.btn-common {
    border: 1px solid #61d2b4;
    background: #61d2b4;
    position: relative;
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
    border-radius: 1.875rem;
}
form#contactForm .contact-form-item .need-input:focus,form#contactForm .contact-form-item .need-input{
    color: #fff;
}
#msgSubmit{
    font-size: 0.875rem;
    margin-top: 0.625rem;
}

#contact .social-icons li.dribbble a:hover{
    background-color: #ea4c89;
}
#contact .social-icons li.linkedin a:hover{
    background-color: #007bb6;
}
#contact .social-icons li.google-plus a:hover{
    background-color: #dd4d42;
}
#contact .social-icons li.twitter a:hover{
    background-color: #1da1f2;
}
#contact .social-icons li.facebook a:hover{
    background-color: #4867aa;
}


#contact .social-icons li a:hover i{
    color:#fff!important;
}
@media (max-width: 768px)
{
    #contact .contact-form  h3.contact-tittle {
    font-size: 1.75rem!important;
    }
    #contact .contact-form   .btn-common{
        font-size: 0.875rem!important;
        } 
}
